html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.tree-sprite, .tree-file, .tree-folder-open, .tree-folder, .tree-line-bi-junction, .tree-line-horizontal, .tree-line-tri-junction, .tree-line-vertical, .bg-line-vertical {
  background-image: url("../images/tree-sprite.png");
  background-repeat: no-repeat;
}

.tree-file {
  background-position: 0 0;
  height: 22px;
  width: 20px;
}

.tree-folder-open {
  background-position: 0 -22px;
  height: 22px;
  width: 27px;
}

.tree-folder {
  background-position: 0 -44px;
  height: 22px;
  width: 20px;
}

.tree-line-bi-junction {
  background-position: 0 -66px;
  height: 4px;
  width: 4px;
}

.tree-line-horizontal {
  background-position: 0 -70px;
  height: 2px;
  width: 100px;
}

.tree-line-tri-junction {
  background-position: 0 -72px;
  height: 6px;
  width: 4px;
}

.tree-line-vertical {
  background-position: 0 -78px;
  height: 100px;
  width: 2px;
}

.tree-line-horizontal {
  background-repeat: repeat-x;
}

.bg-line-vertical {
  background-image: url("../images/tree-sprite.png");
  background-repeat: repeat-y;
}

.tree-sprite {
  display: inline-block;
}

.tree-folder, .tree-folder-open {
  cursor: pointer;
}

.tree-view {
  padding-left: 20px;
  background-position: 20px 0px;
}
.tree-view > li {
  padding-left: 20px;
}
.tree-view > li.open {
  background-image: url("../images/tree/line-vertical.png");
  background-repeat: repeat-y;
  background-position: 0px -5px;
}
.tree-view > li.open:last-child {
  background-image: none;
}
.tree-view > li:last-child > i:before {
  background-image: url("../images/tree/line-bi-junction.png");
}
.tree-view > li > i {
  margin: 0 6px;
}
.tree-view > li > i:before {
  display: block;
  content: " ";
  background-image: url("../images/tree/line-tri-junction.png");
  background-repeat: no-repeat;
  background-position: 0px -5px;
  width: 30px;
  height: 30px;
  position: relative;
  left: -26px;
}
.tree-view > li, .tree-view > li i {
  vertical-align: top;
  line-height: 28px;
}
